*.py[oc]

# Temp files
*~
~*
.*~
\#*
.#*
*#

# Build files
build
dist
pkg
*.egg
*.egg-info

# Debian Files
debian/files
debian/python-beaver*

# Sphinx build
doc/_build

# Generated man page
doc/aws_hostname.1

# tox
.tox

# Hypothesis - keep the examples database
.hypothesis/tmp
.hypothesis/unicodedata

# py.test
.cache/

# Pycharm
.idea/
